<div class="container">
  <div class="page-header">
    <h1><a><img src="../../assets/logo.png" class="logo-img"></a> Manage Profile</h1>
  </div>
  <form class="form-inline" (ngSubmit)="updateUser(u)" #u="ngForm">
    <p>
      Would you like to change your display name?
    </p>
    <div class="form-group">
      <label for="displayName" name="displayName">Display Name</label>
      <input type="text" class="form-control" [(ngModel)]="displayName" name="displayName" placeholder="Enter username">
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="!displayName">Set Display Name</button>
  </form>
</div>